
.header-page {
  background: #89b0cc !important;
  background: linear-gradient(45deg, #d7f8dc 0%, #d9e7ff 100%)!important;
 
   /* box-shadow:
   
    0 30px 60px -15px rgba(0, 0, 0, 0.25),
    
    0 6px 8px -3px rgba(0, 0, 0, 0.12); */
  
  border-radius: 0 0 3px 3px;
  padding: 1rem;
}

.header-institution,
.header-user {
    display: inline-block;            
  padding: 0.30rem 0.6rem;          
  border-radius: 0.25rem;           
  color: #fff;
   background: linear-gradient(
    90deg,
    rgba(36, 93, 131, 0.8) 0%,
    rgba(37, 180, 180, 0.8) 50%,
    rgba(65, 124, 163, 0.8) 100%
  );
   box-shadow:
   
    0 30px 60px -15px rgba(0, 0, 0.25, 0.25),
    
    0 6px 8px -3px rgba(0, 0, 0.25, 0.12); 
  color: #fff; /* #47466D */
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.header-institution {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.header-user {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}


.btn-logout {
  margin-left: 1rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid #205375;
  background: var(--gradient-primary-button);
  color: #f4f6fa ;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
}

.btn-logout:hover {
  background: #c7d6f3;
  color: var(--color-royal-hyacinth);
  border: 1px solid #205375;
}
@media (max-width: 576px) {
  .header {
    padding: 10px 24px;
  }
  .header-institution,
  .header-user {
    font-size: 0.85rem;
    margin: 0 0.25rem;
  }
}
