
.header-page {
  background: #b1d9e0;
  border-radius: 0 0 3px 3px;
  box-shadow: #205375 0px 0px 10px 0px;
  padding: 0.5rem;
}



.institution-top,
.institution-details,
.user-info {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.header-institution-block {
  display: flex;
  flex-direction: column;
   align-items: flex-start;
}
.institution-name {
  font-size: 1rem;
  font-weight: 700;
 margin-left: 1rem;
  text-transform: uppercase;
}
.institution-details {
  font-size: 0.85rem;
  color: #333;
  margin-left: 1rem;
}
.institution-details span {
  display: block;
}

.header-user-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  
  /* margin-right: 1rem; */
}
.user-name {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
}
.user-specialization {
  font-size: 0.85rem;
 margin-left: 2rem;
 margin-left: 1rem;
  color: #555;
  text-transform: capitalize;
}

.header-icon {
  width: 2.3rem;
  height: 2.3rem;
  object-fit: cover;
  margin-right: 0.5rem;
  border-radius: 30%;
 padding: 0.2rem;
  background-color: #205375;
}

.btn-logout {
  margin-left: 1rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid #205375;
  background: var(--gradient-primary-button);
  color: #f4f6fa;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
}
.btn-logout:hover {
  background: #c7d6f3;
  color: var(--color-royal-hyacinth);
  border: 1px solid #205375;
}

@media (max-width: 576px) {
  .header-page { padding: 10px 24px; }
  .institution-details,
  .user-specialization { font-size: 0.75rem; }
  .header-icon { width: 20px; height: 20px; }
}