:root {
  font-family: 'PT sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   /* Osnovna paleta */
  --color-royal-hyacinth: #47466D;
  --color-cendre-blue:    #3D84A7;
  --color-medium-turquoise: #46CDCF;
  --color-waterwings:     #ABEDD8;

  /* Dashboard header (slika 1) */
  --gradient-dashboard: linear-gradient(
    135deg,
    var(--color-medium-turquoise) 0%,
    var(--color-waterwings) 100%
  );

  /* Primarni button gradijent (slika 2) */
  --gradient-primary-button: linear-gradient(
    90deg,
    var(--color-royal-hyacinth) 0%,
    var(--color-medium-turquoise) 100%
  );

  /* Dodatne korisne varijable */
  --color-bg:        #FFFFFF;
  --color-text:      #0D274D;
  --box-shadow:      0 4px 12px rgba(6, 96, 100, 0.2);
}

body {
  height: 100%;
}
